{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Liste utilisateurs{% endblock %}

{% block body %}
{{parent()}}
<div class="container-fluid">   
        <div class="row justify-content-center">
            <h1 class="text-center text-primary p-4">Liste des utilisateurs</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 p-4 m-0 text-primary">
            <div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
    </tr>
  </thead>
  <tbody>
            {% for utilisateur in utilisateur %}
             <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
     
      <td>{{utilisateur.nom |capitalize }}</td>
      <td>{{utilisateur.prenom |capitalize }}</td><td><a href="{{path('profil_utilisateur',{'id': utilisateur.id})}}" class="text-white"><span class="material-icons" title="Profil de l'utilisateur">
Profil</td>
      
    </tr>
               
            {% endfor %}
 </tbody>
</table> 
</div>
            </div>
        </div>
</div>
{% endblock %}   